* {
  box-sizing: border-box;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(12, 41, 77);
}

#navbar {
  background-color: rgb(107, 21, 21);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  text-align: right;
  justify-content: space-between;
}

#navbar > a {
  text-align: right;
  text-decoration: none;
  padding: 0 1.2rem;
}
/* #navbar > a:link, */
#navbar > a:hover {
  color: rgb(6, 6, 194);
}

#welcome-section {
  height: 100vh;
  background-color: rgb(35, 34, 34);
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 15rem;
}
#welcome-section>p {
  font-size: 2.6rem;
  color: rgb(109, 13, 13) !important;
  text-align: center;
  margin: 0;
  line-height: 0%;
}

@media screen and (max-width: 426px) {

}

#projects {
  height: 300px;
  
  margin-top: 0;
}
#projects > h2 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.project-tile {
  border: none;
  
}
